# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.env/
.venv/
.python-version

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
coverage.xml
nosetests.xml
*.cover
.hypothesis/

# dotenv environment variables file
.env
.env.*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# VSCode
.vscode/

# PyCharm
.idea/

# Local SQLite databases
*.sqlite3

# Logs
*.log

# MacOS
.DS_Store

# Temporary files
*.tmp
*.swp
*.bak
